p {
    color: #171717;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-style: normal;
    font-weight: 300;
}
h1 {
    color: aqua;
    
    font-size: 30px;
}