<!--<body>
<input class="c-checkbox" type="checkbox" id="start">
<input class="c-checkbox" type="checkbox" id="progress2">
<input class="c-checkbox" type="checkbox" id="finish">
<div class="c-form__progress"></div>

<div class="c-formContainer">
  <--<div class="c-welcome">Welcome, {{ email }}!</div>->
  <form class="c-form" (submit)="loginUser($event)">


    <div class="c-form__group">
      <label class="c-form__label" for="femail">
                    <input
                        type="email"
                        id="femail"
                        class="c-form__input"
                        placeholder=" "
                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                        required
						            (input)="onEmailInput($event)">

                    <label class="c-form__next" for="progress2" role="button">
                        <span class="c-form__nextIcon"></span>
                    </label>

      <span class="c-form__groupLabel">What's your email?</span>
      <b class="c-form__border"></b>
      </label>
    </div>

    <div class="c-form__group">
      <label class="c-form__label" for="fpass">
                    <input
                        type="password"
                        id="fpass"
                        class="c-form__input"
                        placeholder=" "
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        required
                        (input)="onPasswordInput($event)">

                    <label
                    class="c-form__next"
                    [for]="isPasswordValid ? 'finish' : ''"
                    (click)="isPasswordValid && loginUser($event)"
                    [class.disabled]="!isPasswordValid"
                    role="button">
                    <label class="c-form__next" role="button"></label>
                        <span class="c-form__nextIcon"></span>
                    </label>

      <span class="c-form__groupLabel">What's your password?</span>
      <b class="c-form__border"></b>
      </label>
    </div>

    <label class="c-form__toggle" for="start"><span class="c-form__toggleIcon"></span>Login</label>
  </form>
</div></body>
-->


<div class="login-container">
  <!-- Logo -->
  <div class="login-logo">
    <img src="assets/unload.resellerColorized.jpg" alt="Unload Reseller Logo"/>
  </div>

  <form class="login-form" (submit)="loginUser($event)">
    <div class="form-group">
      <input
        type="text"
        id="username"
        class="form-input"
        placeholder="Nutzername"
        required
        (input)="onEmailInput($event)"
      />
      <button
        type="button"
        mat-icon-button
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        style="visibility: hidden"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>

    <!--Passwort-->
    <div class="form-group">
      <input
        type="password"
        id="password"
        class="form-input"
        placeholder="Passwort"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        required
        (input)="onPasswordInput($event)"
        [type]="hide() ? 'password' : 'text'"
      />

      <button
        type="button"
        mat-icon-button
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>


    <!--<div class="form-group">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
          (input)="onPasswordInput($event)"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>-->

    <!-- Login-Button -->
    <button
      type="submit"
      class="login-button"
      [disabled]="!isPasswordValid"
    >
      Login
    </button>

  </form>

  <mat-card-actions>
    <a mat-button routerLink="/register">Noch kein Konto? Hier Registrieren!</a>
  </mat-card-actions>

</div>

