:host {
    min-height: 100vh;
  
    display: flex;
    flex-direction: row;
  }
  
  .sidenav {
    width: 100%;
    height: auto;
  
    box-sizing: border-box;
  }
  
  .content {
    flex-grow: 1;
  
    padding: 1rem;
  }