<!--<div class="content">
    <div *ngIf="!isLogin">
      <app-login></app-login>
      passwort muss ein klein ein groß buchstabe enthalten<br>
      mind 1 ziffer<br>
      mind 1 sonderzeichen<br>
      mind 8 zeichen lang
    </div>

    <div *ngIf="isLogin" class="container">
      <app-sidenav></app-sidenav>
      <router-outlet></router-outlet>
    </div>
</div>-->


<div class="content">
  <div *ngIf="!isLogin">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="isLogin" class="container">
    <app-sidenav></app-sidenav>
    <router-outlet></router-outlet>
  </div>
</div>
