/* You can add global styles to this file, and also import other style files */
@import "./styles/example.css";

body {
    margin: 0;
  
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  :root {
    --sidenav-width: 300px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
